<div class="comment" id="comment_<%= comment.id %>">
  <div>
    <%= comment.content %>
  </div>
  <div>
    <% comment.comment_attachments.each do |attachment| %>
      <%= link_to attachment.file.name, attachment.file.url %>
    <% end %>
  </div>
  <%= link_to "Edit", edit_comment_path(comment,
                                        commentable_type: params[:commentable_type],
                                        commentable_id: params[:commentable_id]),
                      remote: true if comment.can_be_edited_by?(current_user) %>
  <hr/>
</div>
